################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ShunQApiSol/.vs/ShunQApiSol/v16/Server/sqlite3
/ShunQApiSol/.vs/ShunQApiSol/v16
/ShunQApiSol/BusinessCore/bin
/ShunQApiSol/BusinessCore/obj
/ShunQApiSol/WebApi/bin
/ShunQApiSol/WebApi/obj
/ShunQApiSol/.vs/ShunQApiSol
/.vs/ShunQApiSolution/v16
/.vs
/ShunQApiSol/TelementryApi/bin
/ShunQApiSol/TelementryApi/obj
