################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ShunQApiSol/.vs/ShunQApiSol/v16/Server/sqlite3
